trigger: none
pool: Selfhosted
stages:
  - stage: terraformInit
    displayName: Terraform Init Task
    jobs: 
      - job: terraformInit
        displayName: Terraform Init Task
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'azuretoado'
            backendAzureRmStorageAccountName: 'arshstrg1210'
            backendAzureRmContainerName: 'lab'
            backendAzureRmKey: 'terraform.tfstate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            environmentServiceNameAzureRM: 'azuretoado'
  - stage: securityScan
    displayName: Scan using TFSEC
    dependsOn: terraformInit
    jobs:
      - job: tfsecScan
        displayName: Scan using TFSEC
        steps: 
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              Write-Host "Running tfsec (results will be shown, pipeline won't fail)..."
              
                    # Run tfsec and capture exit code
                    C:\security_tools\tfsec\tfsec.exe . --tfvars-file terraform.tfvars
                    $tfsecExitCode = $LASTEXITCODE
              
                    Write-Host "tfsec finished with exit code: $tfsecExitCode"
                    Write-Host "Ignoring tfsec exit code to allow pipeline to continue"
              
                    # Always exit 0 so pipeline passes
                    exit 0
            workingDirectory: '$(System.DefaultWorkingDirectory)\dev'
      # - job: tflintScan
      #   displayName: Scan using TFLINT
      #   dependsOn: tfsecScan
      #   steps:
      #   - task: PowerShell@2
      #     inputs:
      #       targetType: inline
      #       script: |
      #         Write-Host "Running TFLINT"
      #         C:\tools\tflint\tflint.exe 
      #         tflint --init
      #         Write-Host "TFLint scan completed (warnings/errors ignored)."
      #          exit 0
        



         
        