trigger: none
pool: Selfhosted
stages:
  - stage: terraformInit
    displayName: Terraform Init Task
    jobs: 
      - job: terraformInit
        displayName: Terraform Init Task
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'azuretoado'
            backendAzureRmStorageAccountName: 'arshstrg1210'
            backendAzureRmContainerName: 'lab'
            backendAzureRmKey: 'terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            environmentServiceNameAzureRM: 'azuretoado'
  - stage: securityScan
    displayName: Scan using TFSEC
    dependsOn: terraformInit
    jobs:
      - job: tfsecScan
        displayName: Scan using TFSEC
        steps:
        - checkout: self

        - task: PowerShell@2
          displayName: Download & Run tfsec
          inputs:
            targetType: inline
            script: |
              Write-Host "Downloading tfsec..."
              Invoke-WebRequest `
                 -Uri https://github.com/aquasecurity/tfsec/releases/latest/download/tfsec-windows-amd64.exe `
                 -OutFile tfsec.exe

              .\tfsec.exe --version
              .\tfsec.exe .


         
        