trigger: none
pool: Selfhosted
stages:
  - stage: terraformInit
    displayName: Terraform Init Task
    jobs: 
      - job: terraformInit
        displayName: Terraform Init Task
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'azuretoado'
            backendAzureRmStorageAccountName: 'arshstrg1210'
            backendAzureRmContainerName: 'lab'
            backendAzureRmKey: 'terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            environmentServiceNameAzureRM: 'azuretoado'
  - stage: securityScan
    displayName: Scan using TFSEC
    dependsOn: terraformInit
    jobs:
      - job: tfsecScan
        displayName: Scan using TFSEC locally
        steps:
        - checkout: self

        - powershell: |
            C:\tools\tfsec\tfsec.exe --version
            C:\tools\tfsec\tfsec.exe .

         
        