trigger: none
pool:Selfhosted
jobs:
- job: 
  steps:
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      backendServiceArm: 'azuretoado'
      backendAzureRmStorageAccountName: 'arshstrg1210'
      backendAzureRmContainerName: 'lab'
      backendAzureRmKey: 'terraform.tfstate'
  
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'plan'
      environmentServiceNameAzureRM: 'azuretoado'
  